body {
  margin: 20px;
}
p {
  color: dimgray;
  width: 350px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
}
.container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
